@charset "UTF-8";
h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

main {
     margin-left: 5%;
}

.filtres {
    margin-bottom: 2%;
}

select {
    padding: 10px;
    font-size: 16px;
    display: inline-block; 
}

/* Style pour le bouton "Rechercher" */
input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    display: inline-block; /* Alignement horizontal avec la liste déroulante */
    vertical-align: top; /* Aligner le haut du bouton avec le haut de la liste déroulante */
}